body{
    background: silver;
}
.wrapper{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
}
.box-user{
    width: 30%;
    height: 100%;
}
.detail_user{
    width: 30%;
    height: 100%;
}
.info_user{
    width: 100%;
    height: 100%;
    background: #c88fec;
    padding: 10px;
}
.box-form{
    width: 20%;
    height: 100%;
}
.info_user span{
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
    border-bottom: 2px solid black;
}
.create-btn{
    width: 200px;
    height:30px;
    background: greenyellow;
    font-size: 20px;
}
.btn-up{
    font-size: 20px;
    background: sandybrown;
}
.btn-del{
    font-size: 20px;
    background: red;
}