.user_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:5px;
    background: lemonchiffon;
    height: 30px;

}
.user_one{
    font-size: 16px;
    font-weight: 600;
}
.btn_detail{
    width: 50px;
    background: gold;
    /*border: none;*/
    border-radius: 10%;
}